html,
body {
  width: 100%;
  background-color: #f5f7f7;
  margin: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header {
  background-color: #607d8b;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}
.header h1 {
  color: #f5f7f7;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  font-size: 2em;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
}
.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  margin: 0;
}
.nav-pills > li > a {
  border-radius: 0;
  color: #dee5e5;
  font-weight: 300;
  font-size: 1.5em;
  border-bottom: 6px solid transparent;
  transition: all .5s ease;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: transparent;
  color: #eff2f2;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: transparent;
  border-bottom-color: #f5f7f7;
}
button.btn {
  background-color: #f5f7f7;
  color: #607d8b;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
  font-size: 1em;
  padding: 0px 1em;
  letter-spacing: 0.05em;
  margin: 0px 5px;
  transition: all .5s ease;
  z-index: 2;
}
button.btn:hover {
  color: #4b626d;
  opacity: 0.9;
}
.btn-group button.btn {
  margin: 0;
}
.btn-group button.btn + button.btn {
  border-left: 1px solid #607d8b;
}
.tabPane {
  -webkit-transition: transform 0.6s ease, opacity 0.4s ease;
  -moz-transition: transform 0.6s ease, opacity 0.4s ease;
  -ms-transition: transform 0.6s ease, opacity 0.4s ease;
  transition: transform 0.6s ease, opacity 0.4s ease;
  position: absolute;
  width: 100%;
}
.tabPane.showTab {
  opacity: 1.0;
  transform: translateX(0%) !important;
}
.tabPane#alarms {
  transform: translateX(100%);
}
.list-pane {
  height: 100%;
  margin: 10px;
}
.list-pane .list ul {
  padding: 0;
  margin: 0;
}
li.scene,
li.alarm,
li.edit {
  list-style: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  li.scene,
  li.alarm,
  li.edit {
    padding: 0;
    padding: 10px;
    margin: 0px 25px 0px 10px;
  }
}
li.scene {
  cursor: pointer;
}
li.alarm .labels {
  display: inline-block;
}
li.scene + li.scene,
li.alarm + li.alarm,
li.edit + li.edit {
  border-top: 1px solid #ccc;
}
li.scene .splot,
li.alarm .splot,
li.edit .splot {
  border-radius: 40%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 10px;
  border-bottom: 3px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0px -20px 20px rgba(10, 10, 10, 0.05) inset;
}
li.edit .big-splot {
  width: 140px;
  height: 140px;
}
li.scene .labels,
li.alarm .labels,
li.edit .labels {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
li.scene h3,
li.alarm h3,
li.edit h3 {
  font-weight: 300;
  display: block;
  margin: 0px 10px;
  vertical-align: top;
  font-size: 1.5em;
  color: #777777;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
}
li.scene h3 {
  margin-top: 7px;
}
li.scene button {
  background: none;
  padding: 0;
  border: none;
  cursor: default;
  border-left: 2px solid #f5f7f7;
  transition: all .5s ease;
}
li.scene button:active,
li.scene button:focus {
  outline: none;
  border-left: 2px solid #3caa9c;
}
li.alarm h5 {
  font-weight: 500;
  display: block;
  margin: 0 10px;
  vertical-align: top;
  font-size: 1em;
  color: #8dafaa;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
}
#controls {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #controls {
    right: 95px;
    bottom: 95px;
  }
}
.FAB {
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
  font-weight: 300;
  margin: 10px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #607d8b;
  color: #f5f7f7;
  cursor: pointer;
}
@media (min-width: 768px) {
  .FAB {
    width: 75px;
    height: 75px;
  }
}
.FAB span {
  font-size: 2.7em;
  text-align: center;
  width: 100%;
  display: block;
  color: inherit;
  padding-top: 20px;
}
.FAB#delayOff span {
  padding-top: 10px;
}
#edit-state-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  background-color: #f5f7f7;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  transform: translateX(100%);
  opacity: 0.0;
  z-index: 50;
}
#edit-state-pane.show {
  transform: translateX(0%);
  opacity: 1.0;
}
#edit-state-pane li {
  margin-bottom: 30px;
  margin-top: 10px;
}
#edit-state-pane .input-group {
  margin: 10px;
  width: 95%;
}
#edit-state-pane .input-group input.edit-slider {
  -webkit-appearance: none;
  height: 3px;
  background-color: #777777;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #607d8b;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-webkit-slider-thumb:hover {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #607d8b;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-moz-range-thumb:hover {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider:active::-webkit-slider-thumb {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider:active::-moz-range-thumb {
  background: #607d8b;
}
.dark-mode {
  background-color: #546E7A;
}
.dark-mode li.scene {
  border: none !important;
}
.dark-mode li.scene h3 {
  color: #dee5e5;
}
.dark-mode li.scene button {
  border: none;
}
