@keyframes pulse {
  from {
    opacity: 0.1;
    width: 100px;
    height: 100px;
  }
  to {
    opacity: 0.0;
    width: 1000px;
    height: 1000px;
    margin-left: -450px;
    margin-top: -450px;
  }
}
@keyframes thirty-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
html,
body {
  width: 100%;
  background-color: #e5e5e5;
  margin: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.footer h1 {
  opacity: 1.0;
}
.footer h1.hide {
  opacity: 0.0;
}
h1 {
  color: #e5e5e5;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  font-size: 2em;
  font-family: "Lato";
  opacity: 0.8;
}
h1 .big {
  font-size: 2em;
}
#header {
  z-index: 2000;
  background-color: #607d8b;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  position: absolute;
  height: 50px;
}
#scenes {
  height: 75%;
  position: absolute;
  z-index: 1000;
  background-color: #546e7a;
  margin-top: 50px;
  box-shadow: 0px 5px 5px #555;
  -webkit-transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  -ms-transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  top: 0%;
}
#scenes .container {
  overflow: hidden;
  height: 100%;
  position: absolute;
  z-index: 850;
}
#scenes .footer {
  z-index: 850;
  flex-direction: row-reverse;
  bottom: -50px;
}
#scenes .footer h1 {
  opacity: 0.0;
}
#scenes #slant {
  background-color: #546e7a;
  width: 120%;
  height: 100px;
  bottom: -40px;
  left: -10px;
  position: absolute;
  transform: rotateZ(5deg);
  box-shadow: 0px 5px 5px #555;
  z-index: 750;
}
#edit-state-pane {
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  position: absolute;
  padding-top: 100px;
  background-color: #546e7a;
}
#edit-state-pane ul {
  padding: 0;
}
#edit-state-pane .footer h1 {
  flex-grow: 1;
}
#controls {
  z-index: 1500;
  position: fixed;
  right: 5px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}
#controls #accept {
  margin-bottom: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: translateX(200px);
}
body.editOpen #scenes {
  top: -72%;
  -webkit-transition: all 1s cubic-bezier(0.62, 0.01, 0.53, 1.31);
  -moz-transition: all 1s cubic-bezier(0.62, 0.01, 0.53, 1.31);
  -ms-transition: all 1s cubic-bezier(0.62, 0.01, 0.53, 1.31);
  transition: all 1s cubic-bezier(0.62, 0.01, 0.53, 1.31);
}
body.editOpen #scenes .footer h1 {
  opacity: 0.7;
}
body.editOpen #edit-state-pane .footer h1 {
  opacity: 0.0;
}
body.editOpen #controls #accept {
  transform: translateX(0px);
  display: block;
}
.footer h1.big {
  font-size: 3em;
}
.footer h1.icon {
  opacity: 0.7;
}
button.btn {
  background-color: #e5e5e5;
  color: #607d8b;
  font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
  font-size: 1em;
  padding: 0px 1em;
  letter-spacing: 0.05em;
  margin: 0px 5px;
  transition: all .5s ease;
  z-index: 2;
}
button.btn:hover {
  color: #4b626d;
  opacity: 0.9;
}
.btn-group button.btn {
  margin: 0;
}
.tabPane {
  -webkit-transition: transform 0.6s ease, opacity 0.4s ease;
  -moz-transition: transform 0.6s ease, opacity 0.4s ease;
  -ms-transition: transform 0.6s ease, opacity 0.4s ease;
  transition: transform 0.6s ease, opacity 0.4s ease;
  position: absolute;
  width: 100%;
}
.tabPane.showTab {
  opacity: 1.0;
  transform: translateX(0%) !important;
}
.tabPane#alarms {
  transform: translateX(100%);
}
.list-pane {
  height: 100%;
  margin: 10px;
}
.list-pane .list ul {
  padding: 0;
  margin: 0;
}
li.scene,
li.alarm,
li.edit {
  list-style: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  li.scene,
  li.alarm,
  li.edit {
    padding: 0;
    padding: 10px;
    margin: 0px 25px 0px 10px;
  }
}
li.scene {
  cursor: pointer;
  border: none !important;
}
li.alarm .labels {
  display: inline-block;
}
li.scene .splot,
li.alarm .splot,
li.edit .splot {
  border-radius: 35%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 10px;
  border-bottom: 3px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0px -20px 20px rgba(10, 10, 10, 0.05) inset;
}
li.edit .big-splot {
  width: 140px;
  height: 140px;
}
li.scene .labels,
li.alarm .labels,
li.edit .labels {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
li.scene h3,
li.alarm h3,
li.edit h3 {
  font-weight: 300;
  display: block;
  margin: 0px 10px;
  vertical-align: top;
  font-size: 1.5em;
  font-family: "Lato";
  color: #dee5e5;
}
li.scene h3 {
  margin-top: 7px;
}
li.scene button {
  background: none;
  padding: 0;
  border: none;
  cursor: default;
  transition: all .5s ease;
}
li.scene button:active,
li.scene button:focus {
  outline: none;
}
li.alarm h5 {
  font-weight: 500;
  display: block;
  margin: 0 10px;
  vertical-align: top;
  font-size: 1em;
  color: #8dafaa;
  font-family: "Lato";
}
.FAB {
  font-family: "Lato";
  font-weight: 300;
  margin: 10px;
  width: 90px;
  height: 80px;
  border-radius: 10%;
  background-color: #607d8b;
  color: #e5e5e5;
  cursor: pointer;
  border: 2px solid #ddd;
  box-shadow: 2px 2px 3px rgba(100,100,100,0.8);
}
.FAB span {
  font-size: 2.7em;
  text-align: center;
  width: 100%;
  display: block;
  color: inherit;
  padding-top: 20px;
}
.FAB span {
  line-height: 0.85;
}
#edit-state-pane li {
  margin-bottom: 30px;
  margin-top: 10px;
  width: calc(100% - 110px);
}
#edit-state-pane .input-group {
  margin: 10px;
  width: 95%;
}
#edit-state-pane .input-group input.edit-slider {
  -webkit-appearance: none;
  height: 3px;
  background-color: #e5e5e5;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #607d8b;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-webkit-slider-thumb:hover {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #607d8b;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
}
#edit-state-pane .input-group input.edit-slider::-moz-range-thumb:hover {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider:active::-webkit-slider-thumb {
  background: #607d8b;
}
#edit-state-pane .input-group input.edit-slider:active::-moz-range-thumb {
  background: #607d8b;
}
.pulse {
  background-color: #fff;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
  animation-duration: .5s;
  z-index: 2000;
}
#delayOff {
  position: relative;
  overflow: hidden;
}
#delayOff .thirty-div {
  position: absolute;
  top: -40px;
  width: 90px;
  height: 160px;
}
#delayOff .thirty-div .colour {
  position: absolute;
  background-color: #f5f5f5;
  animation-duration: 30s;
  width: 100%;
  height: 100%;
  display: none;
}
#delayOff .thirty-div#left {
  width: 180px;
  clip: rect(0px, 90px, 180px, 0px);
  z-index: 200;
  left: -45px;
}
#delayOff .thirty-div#left .colour {
  animation-delay: 15s;
  clip: rect(0px, 90px, 180px, 0px);
  animation-timing-function: ease-out;
  transition: all 5s ease;
}
#delayOff .thirty-div#right {
  width: 180px;
  clip: rect(0px, 180px, 160px, 90px);
  left: -45px;
  z-index: 100;
}
#delayOff .thirty-div#right .colour {
  clip: rect(0px, 180px, 160px, 90px);
  animation-timing-function: ease-in;
}
