// colours
@colour-base: #F5F7F7;
@colour-accent: #3CAA9C;
@colour-font-primary: #777777;
@colour-font-secondary: #8dafaa;
@colour-tab-darken: darken(@colour-base, 8%);
@colour-tab-darken-hover: darken(@colour-base, 2%);

// fonts
@font-family: 'San-Fancisco', Roboto, Helvetica, Sans-serif;
@font-weight-header: 300;
@font-weight-subheading: 500;

// sizes
@fab-large-pos: 75px;
@fab-large-size: 70px;
@fab-small-pos: 37px;
@fab-small-size: 63px;
@size-splot: 35px;
@size-splot-big: 4 * @size-splot;

@transition-default: ~"all .3s ease";

.transition( @effect: @transition-default ) {
  -webkit-transition:   @effect;
  -moz-transition:      @effect;
  -ms-transition:       @effect;
  transition:           @effect;
}
